<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Enter your description here" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <title>Title</title>
  </head>
  <body>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">idcatalog</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <% for(let item of list){%>
        <tr>
          <th scope="row"><%=item.id%></th>
          <th><%=item.idcatalog%></th>
          <td><%=item.name%></td>
          <td><%=item.img%></td>
          <td><%=item.price%></td>
          <td>
            <a href="products/edit/<%=item.id%>">Edit</a>
            <a href="products/del/<%=item.id%>">Del</a>
          </td>
        </tr>
        <%}%>
      </tbody>
    </table>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
  </body>
</html>
